name: Flutter Android CI/CD

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Flutter Android CI/CD
        run: echo "Starting Flutter Android CI/CD pipeline"
      - uses: actions/checkout@v4
      
      - name: Set JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'zulu'

      - name: Install Flutter Version
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.2'

      - name: Install dependencies
        run: flutter pub get

      - name: Run tests
        run: flutter test

      - name: Build APK
        run: flutter build apk --debug --build-name=1.0.0 --build-number=1
      
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: tradly-app.apk
          path: build/app/outputs/apk/release/app-release.apk