# Note: In a yml each level is padded by 2 spaces
name: Flutter

on:
  # Runs this action when you push on master
  push:
    branches: [ "main" ]
  # Runs this when a PR against master is created
  pull_request:
    branches: [ "main" ]

jobs:
  flutter_job:

    # The machine, we can also use windows-latest or ubuntu-latest
    # We are choosing macos-latest because we will be also building for iOS
    runs-on: ubuntu-latest

    steps:

      # Clones the project on the machine
      - uses: actions/checkout@v4

      # Sets up java 11
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      # Installs flutter and related dependency on this machine
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          # flutter-version: '3.16.8'
          # ^ If you want to use a specific version of flutter
      
      # Fetches proj dependencies from pub
      - name: Install dependencies
        run: flutter pub get
        # ^ If you want to use a specific version of flutter
      
      # Verifies if the dart code is formatted well
      - name: Verify formatting
        run: dart format --output=none .
        # Removed --set-exit-if-changed to prevent pipeline failure due to formatting issues
      

      # Runs unit test
      - name: Run tests
        run: flutter test

      - name: Accept Android SDK Licenses
        run: yes | $ANDROID_HOME/tools/bin/sdkmanager --licenses
      

      # Create android apk
      - name: Build apk
        run: flutter build apk
      
      # Create android app bundle
      - name: Build app bundle
        run: flutter build appbundle
      # Uploads the apk as an artifact
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: build/app/outputs/apk/debug/app-debug.apk

